html,
body {
  background-color: #f5f6fa;
}
.van-popup--bottom.van-popup--round .van-sku-actions .van-button--warning {
  background: royalblue!important;
}
/* shopCart */
.van-nav-bar {
  background-color: aqua!important;
}
.van-nav-bar__title {
  font-size: 18px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #000000;
}
/* .van-dropdown-menu{
    height: 20px;
    } */
.van-nav-bar .van-hairline--bottom {
  height: 44px;
  background-color: aqua;
}
.m_size {
  width: 120px;
  height: 20px;
  position: absolute;
  top: 25px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}
.m_size span {
  display: block;
  height: 17px;
  font-size: 12px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #dededeff;
  line-height: 17px;
}
.m_size .size {
  width: 87px;
  height: 100%;
  background-color: blue;
}
.m_size .size .van-dropdown-menu {
  height: 20px !important;
  width: 87px;
}
.m_size .size .van-ellipsis {
  color: black;
}
.m_size .size .van-popup--top {
  width: 87px;
  left: 155px;
}
.m_size .size .van-cell {
  padding: 10px 8px;
  height: 100%;
}
.m_size .size .van-cell__title span {
  color: black;
}
.m_size .size .van-cell__value {
  display: none;
}
